:root {
    --gradient-purple: #a34fc3;
    --gradient-green: #76d376;
    --black: #000000;
    --white: #ffffff;
    --splash-gradient: linear-gradient(to bottom, #a34fc3 0%, #76d376 100%);
    --bg-purple: #b352cc; /* Color aproximado de la imagen */
    --card-purple: #a646c0; /* Un tono ligeramente diferente para la tarjeta */
    --input-bg: #f0e1f5; /* Tono lila muy claro para los campos */
    --text-placeholder: #7a7a7a;
    --text-color: #ffffff;
    --input-bg: rgba(255, 255, 255, 0.2);
    --input-placeholder: #555;
    --brand-green: #28a745;       /* Fondo principal */
    --action-green: #1d9b3e;      /* Botón aceptar */
    --action-red: #ff0000;    
    --primary-green: #28a745;
    --dark-green: #1e7e34;
    --light-green: #82e0aa;
    --bg-green: #21a43d;
    --text-color: #333;
}